<!DOCTYPE html>
<html th:fragment="layout(conteudo)" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{base :: head}"></div>

<body>
	<div id="id-container" class="container-fluid">
		<div th:replace="~{base :: menu-principal}"></div>
		<div id="id-conteudo" align="center" class="col" style="margin-top: 100px; margin-bottom: auto">
			<main th:include="${conteudo}"></main>
		</div>
		<div th:replace="~{base :: barra-inferior}"></div>
	</div>
	<div th:replace="~{base :: menssagem-sucesso}"></div>
	<div th:replace="~{base :: menssagem-erro}"></div>
	<div th:insert="~{base :: script}"></div>
</body>

</html>