<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{base :: head}"></div>

<body>
	<div id="DivIdContainer" class="container-fluid">

		<div th:replace="~{base :: barraMenu}"></div>
		<div id=DivIdConteudo align="center" class="col" style="margin-top: 280px; margin-bottom: auto">
<!--			<div th:replace="~{@{${template}} :: ${template}}"></div>-->
		</div>
		<div th:replace="~{base :: barraRodape}"></div>
	</div>
	<div th:insert="~{base :: script}"></div>
</body>

</html>