<head th:fragment="head">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Autenticação</title>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" />
	<link th:rel="stylesheet" th:href="@{/webjars/jquery/3.0.0/jquery.min.js}" />
	<link th:rel="stylesheet" th:href="@{/css/estilo.css}" />
	<link th:rel="stylesheet" th:href="@{/js/formatacao.js}" />
	<link th:rel="stylesheet" th:href="@{/js/validacao.js}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<div th:fragment="script">
	<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/formatacao.js}"></script>
	<script th:src="@{/js/validacao.js}"></script>
	<script th:src="@{/js/usuario/funcoes.js}"></script>
</div>

<div th:fragment="barra-inferior" id="div-rodape" align="center" class="fixed-bottom bg-danger text-white">
	<div style="height: 50px;">
		<strong style="font-size: 15px;">Todos os direitos reservados</strong>
	</div>
</div>

<div th:fragment="barra-superior" id="id-barra-superior" align="center" class="fixed-bottom bg-danger text-white">
</div>

<div th:fragment="mensagem-aplicacao" id="id-mensagem-aplicacao" class="balao">
	<div th:if="${codeMessage} == 'SUCCESS'" class="alert alert-success" role="alert" style="margin-top: 20px; width: 200px;">
		<div th:text="${msgDescription}" align="center"></div>
	</div>
	<div th:if="${codeMessage} == 'ERROR'" class="alert alert-danger" role="alert" style="margin-top: 20px; width: 200px;">
		<div th:text="${msgDescription}" align="center"></div>
	</div>
	<div th:if="${codeMessage} == 'WARNING'" class="alert alert-warning" role="alert" style="margin-top: 20px; width: 200px;">
		<div th:text="${msgDescription}" align="center"></div>
	</div>
	<div th:if="${codeMessage} == 'INFO'" class="alert alert-warning" role="alert" style="margin-top: 20px; width: 200px;">
		<div th:text="${msgDescription}" align="center"></div>
	</div>
</div>


<!-- Barra lateral -->
<div class="sidebar" th:fragment="menu-principal">
    <!-- Foto do usuário -->
    <div class="user-profile">
        <img th:src="@{/images/user.jpg}">
    </div>

    <!-- Menu -->
    <div class="has-submenu">
        <div class="menu-item">
            <span><i class="fa fa-box"></i> Registro de ponto</span>
            <i class="fa fa-angle-right arrow"></i>
        </div>
        <div class="submenu">
            <div class="menu-item"><span><i class="fa fa-tv"></i> <a th:href="@{/pontolite/acessarRegistroPonto}">Registrar</a></span></div>
            <div class="menu-item"><span><i class="fa fa-tshirt"></i><a th:href="@{/pontolite/ponto/listar}">Meus Pontos</a></span></div>
       </div>
    </div>

	<div class="has-submenu">
	    <div class="menu-item">
	        <span><i class="fa fa-box"></i> Clientes</span>
	        <i class="fa fa-angle-right arrow"></i>
	    </div>
	    <div class="submenu">
	        <div class="menu-item"><span><i class="fa fa-tv"></i><a th:href="@{/pontolite/cliente/formulario}">Cadastrar</a></span></div>
	        <div class="menu-item"><span><i class="fa fa-tshirt"></i><a th:href="@{/pontolite/cliente/listar}">Listagem de Clientes</a></span></div>
	   </div>
	</div>
	<div class="has-submenu">
	    <div class="menu-item">
	        <span><i class="fa fa-box"></i> Usuários</span>
	        <i class="fa fa-angle-right arrow"></i>
	    </div>
	    <div class="submenu">
	        <div class="menu-item"><span><i class="fa fa-tv"></i><a th:href="@{/pontolite/usuario/formulario}">Cadastrar</a></span></div>
	        <div class="menu-item"><span><i class="fa fa-tshirt"></i><a th:href="@{/pontolite/usuario/listar}">Listagem de usuários</a></span></div>
	   </div>
	</div>
	<div class="has-submenu">
	    <div class="menu-item">
	        <span><i class="fa fa-box"></i> Jornada</span>
	        <i class="fa fa-angle-right arrow"></i>
	    </div>
	    <div class="submenu">
	        <div class="menu-item"><span><i class="fa fa-tv"></i><a th:href="@{/pontolite/jornada/formulario}">Cadastrar</a></span></div>
	        <div class="menu-item"><span><i class="fa fa-tshirt"></i><a th:href="@{/pontolite/jornada/listar}">Listagem de jornadas</a></span></div>
	   </div>
	</div>
	<div class="menu-item"><span><i class="fa fa-cog"></i> Configurações</span></div>
</div>