<!DOCTYPE html>
<html th:replace="~{aplicacao :: layout(~{:: main})}">

<main>
	<h1>Cadastro de jornada</h1>
	<hr style="margin-top: 20px;">
	<form action="#" th:action="@{/pontolite/jornada/formulario}" th:object="${jornada}" method="post">
		<div class="form-row">
			<div class="col-md-4 mb-3">
				<label for="input-nome-jornada">Nome Jornada</label>
				<input type="text" class="form-control" id="input-nome-jornada" placeholder="Nome Jornada" value="" required th:field="*{nomeJornada}" maxlength="60">
				<p th:if="${#fields.hasErrors('nomeJornada')}" th:errors="*{nomeJornada}" class="error"></p>
			</div>
		</div>
		<div style="width: 70%;">
			<table id="table-jornada">
				<thead>
					<tr>
						<th class="grid-item">Dia</th>
						<th class="grid-item">Entrada</th>
						<th class="grid-item">Intervalo</th>
						<th class="grid-item">Retorno</th>
						<th class="grid-item">Saída</th>
						<th class="grid-item">Ação</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="jornadaDataHora : ${jornada.jornadaDataHora}">
						<td class="grid-item"><strong>Segunda</strong></td>
						<td class="grid-item"><input type="time" id="id-entrada"   th:field="{jornadaDataHora.dataJornada}" class="form-control" required style="height: 40px; font-size: 20px; width: 60pt;"></td>
						<td class="grid-item"><input type="time" id="id-intervalo" th:field="{jornadaDataHora.dataJornada}" class="form-control" required style="height: 40px; font-size: 20px; width: 60pt;"></td>
						<td class="grid-item"><input type="time" id="id-retorno"   th:field="{jornadaDataHora.dataJornada}" class="form-control" required style="height: 40px; font-size: 20px; width: 60pt;"></td>
						<td class="grid-item"><input type="time" id="id-saida"     th:field="{jornadaDataHora.dataJornada}" class="form-control" required style="height: 40px; font-size: 20px; width: 60pt;"></td>
						<td class="grid-item"><button class="btn btn-danger">-</button></td>
					</tr>
				</tbody>
			</table>
			<button class="btn btn-danger">+ Adicionar dia</button>
		</div>

		<button class="btn btn-secondary" style="width: 400px; height: 45px; margin-top: 50px;" type="submit" id="bt-enviar">Enviar</button>
		<button id="default-botao-voltar" class="btn btn-secondary"	style="width: 400px; height: 45px; ; margin-top: 50px;" type="submit">Voltar</button>
	</form>
</main>

</html>