<!DOCTYPE html>
<html th:replace="~{aplicacao :: layout(~{:: main})}">

<main>
	<h1>Alteração de Usuário</h1>
	<hr style="margin-top: 20px;">

	<form action="#" th:action="@{/pontolite/usuario/alterar}" th:object="${usuario}" method="post">
		<strong id="strong-codigo-usuario" style="font-size: 50px;" th:text="${usuario.codigoUsuario}"></strong>
		<div class="form-row">
			<div class="col-md-4 mb-3">
				<label for="input-nome-usuario">Nome do Usuário</label>
				<input type="text" class="form-control" id="input-nome-usuario" placeholder="Nome do Usuário" required
					th:field="*{username}" maxlength="60">
				<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error"></p>
			</div>

			<div class="col-md-4 mb-3">
				<label for="input-email">E-mail</label>
				<input type="email" class="form-control" id="input-email" placeholder="E-mail" required
					th:field="*{email}" maxlength="80">
				<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></p>
			</div>
			<div class="col-md-4 mb-3">
				<label for="input-nome-perfil">Perfil</label>
				<select id="input-nome-perfil" required th:field="*{perfil}">
					<option value="" style="font-size: 18px;">Selecione um perfil</option>
					<option value="" style="font-size: 18px;" th:each="perfil : ${perfis}"
						th:value="${perfil.codigoPerfil}" th:text="${perfil.nomePerfil}">
					</option>
				</select>
				<p th:if="${#fields.hasErrors('perfil')}" th:errors="*{perfil}" class="error"></p>
			</div>
			<div class="col-md-4 mb-3">
				<label for="input-nome-jornada">Jornada</label>
				<select id="input-nome-jornada" th:field="*{jornada}" disabled>
					<option value="" style="font-size: 18px;">Selecione uma jornada</option>
					<option value="" style="font-size: 18px;" th:each="jornada : ${jornadas}"
						th:value="${jornada.codigoJornada}" th:text="${jornada.nomeJornada}">
					</option>
				</select>
				<p th:if="${#fields.hasErrors('jornada')}" th:errors="*{jornada}" class="error"></p>
			</div>
			<div class="col-md-4 mb-3" sec:authorize="hasRole('ROLE_ADMIN_OCTADATA')">
				<label for="input-nome-cliente">Cliente</label>
				<select id="input-nome-cliente" onchange="carregarJornadaPorCliente()" required th:field="*{cliente}">
					<option value="" style="font-size: 18px;">Selecione um cliente</option>
					<option value="" style="font-size: 18px;" th:each="cliente : ${clientes}"
						th:value="${cliente.codigoCliente}" th:text="${cliente.nomeCliente}">
					</option>
				</select>
				<p th:if="${#fields.hasErrors('cliente')}" th:errors="*{cliente}" class="error"></p>
			</div>
			<div class="col-md-4 mb-3">
				<input type="hidden" id="input-codigo-usuario" th:field="*{codigoUsuario}">
				<input type="hidden" id="input-data-cadastro" th:field="*{dataCadastro}">
				<input type="hidden" id="input-status" th:field="*{status}">
				<input type="hidden" id="input-password" th:field="*{password}">
				<input type="hidden" id="input-usuario-cadastro" th:field="*{usuarioCadastro}">
			</div>
		</div>
		<button class="btn btn-secondary" style="width: 400px; height: 45px;" type="submit"
			id="bt-enviar">Enviar</button>
		<button id="default-botao-voltar" class="btn btn-secondary" style="width: 400px; height: 45px;"
			type="submit">Voltar</button>
	</form>
	<script th:src="@{/js/usuario/usuario.js}"></script>
</main>

</html>