<!DOCTYPE html>
<html th:replace="~{aplicacao :: layout(~{:: main})}">

<main>
	<div id="div-container" class="centralizado-horizontal-vertical">
		<div id="div-conteudo" class="row">
			<div class="circulo" th:each="registro : ${registros}" style="margin-left: 50px;">
					<div class="col">
						<div><span style="font-size: 18px; color: rgb(0, 0, 0);" th:text="${registro.tipoRegistro.nomeTipoRegistro}"></span></div>
						<div><p class="card-text"><span style="font-size: 18px;"	th:text="${#temporals.format(registro.dataRegistroPonto, 'dd/MM/yyyy kk:mm:ss')}"></span</p></div>
					</div>
			</div>
		</div>
	</div>
</main>

</html>