<!DOCTYPE html>
<html th:replace="~{aplicacao :: layout(~{:: main})}">

<main>
	<h1>Alteração de Cliente</h1>
	<hr style="margin-top: 20px;">
	
			<form action="#" th:action="@{/pontolite/cliente/alterar}" th:object="${cliente}" method="post">
			    <strong id="strong-codigo-cliente" style="font-size: 50px;" th:text="${cliente.codigoCliente}"></strong>
				<div class="form-row">
					<input type="hidden" th:field="*{codigoCliente}">
					<div class="col-md-4 mb-3">
						<label for="input-razao-social">Razão Social</label>
						<input type="text" class="form-control" id="input-razao-social" placeholder="Razão Social" 
						required th:field="*{razaoSocial}"
						maxlength="60">
						<p th:if="${#fields.hasErrors('razaoSocial')}" th:errors="*{razaoSocial}" class="error"></p>
					</div>
					<div class="col-md-4 mb-3">
						<label for="input-nome-fantasia">Nome Fantasia</label>
						<input type="text" class="form-control" id="input-nome-fantasia" placeholder="Nome Fantasia" 
						value="" required th:field="*{nomeCliente}"
						maxlength="60">
						<p th:if="${#fields.hasErrors('nomeCliente')}" th:errors="*{nomeCliente}" class="error"></p>
					</div>
					<div class="col-md-4 mb-3">
						<label for="cnpj">CNPJ</label>
						<input type="text" class="form-control" id="input-cnpj" placeholder="CNPJ"
						  value="" required th:field="*{numeroCnpj}"
						  maxlength="18" 
						  onkeypress="mascara_cnpj(this)" 
						  onkeydown="mascara_cnpj(this)" 
						  onkeyup="validar_cnpj(this.value)">
						  <p th:if="${#fields.hasErrors('numeroCnpj')}" th:errors="*{numeroCnpj}" class="error"></p>
					</div>
					<div class="col-md-4 mb-3">
						<label for="input-telefone">Telefone</label>
						<input type="text" class="form-control" id="input-telefone" placeholder="Telefone" 
						value="" required th:field = "*{numeroTelefone}"
						maxlength="20"
						onkeyup="mascaraTelefonefone(event,'input-telefone')"
						onkeydown="mascaraTelefonefone(event,'input-telefone')"
						>
						<p th:if="${#fields.hasErrors('numeroTelefone')}" th:errors="*{numeroTelefone}" class="error"></p>
					</div>
					<div class="col-md-4 mb-3">
						<label for="input-email">E-mail</label>
						<input type="email" class="form-control" id="input-email" placeholder="E-mail" 
						required th:field = "*{nomeEmail}" 
						maxlength="80">
						<p th:if="${#fields.hasErrors('nomeEmail')}" th:errors="*{nomeEmail}" class="error"></p>
					</div>
					<div class="col-md-4 mb-3">
  				      <input type="hidden" id="input-identificador-cliente" th:field="*{codigoCliente}">
					</div>
				</div>
				<button class="btn btn-secondary" style="width: 400px; height: 45px;" type="submit" id="bt-enviar">Enviar</button>
				<button id="default-botao-voltar" class="btn btn-secondary" style="width: 400px; height: 45px;" type="submit">Voltar</button>
			</form>
</main>

</html>